include tests/data/*/*
include *.py
include requirements*.txt
include CHANGES
include LICENSE
include README
include TODO

exclude .bzr
exclude jenkins
exclude build
exclude dist
exclude nosetests.xml
exclude coverage.xml
